/* Global Styles */

html,
body {
  background-color: #d5d0ca;
  color: #585752;
  height: 100%;
  width: 100%;
}

a {
  color:  #768765;
}

a:hover {
  color: #766587;
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.vert-text h1 {
  color: #ffeedd;/*#6c6f4c;*/
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}

.vert-text h3 {
  color: #ffeedd;
}

.icon-menu {
  max-width: 24px;
  height: auto;
}

.icon-social {
  max-width: 66px;
  height: auto;
}

.icon-skills {
  height: auto;
  max-width: 141px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.icon-social-sidebar {
  max-width: 36px;
  height: auto;
}

.separator {
  padding: 20px;
}

/* Side Menu */

#sidebar-wrapper {
  margin-right: -250px;
  right: 0;
  width: 250px;
  background: #585752;
  /* background: rgb(58, 66, 66); for IE */
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #d5d0ca;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #2a2f2f;
  background: rgba(255,255,255,0.25);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #ffeedd;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #b7b1aa;
  background: none;
}

#menu-toggle {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 1;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle {
  margin: 5px 5px 0 0;
}

/* Full Page Image Header Area */

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url(/img/bg/header-bg.jpg) no-repeat center center fixed; 
  padding-left: 15%;
  padding-right: 15%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.text-header {
  margin: 0;
  padding: 20px;
  background: rgb(42, 47, 47); /* for IE */
  background: rgba(42, 47, 47,0.66);
  -moz-border-radius: 6px;
 border-radius: 6px;
}

.header-hr {
  width: 25%;
}

/* Intro */

.intro {
  padding: 2.5% 0;
  background-color: #d5d0ca;
  color: #585752;
}

/* Services */

.services {
  background: #585752;/*#2a2f2f;/*#334455;*/
  padding: 2.5% 0;
  color: #d5d0ca;
}

.service-item {
  margin-bottom: 15px;
}

.service-icon {
  border: 3px solid #a5a18e;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle; 
  text-align: center;
}

/* Callout */

.callout {
  color: #96918b;
  display: table;
  height: 400px;
  width: 100%;
  background: url(/img/bg/quote-bg.jpg) no-repeat center center fixed; /*February 2016 first photo */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Portfolio */

.portfolio {
  padding: 2.5% 0; 
  background-color: #d5d0ca;
  color: #585752; 
}

.dark-hr {
  border-top: 1px solid #585752;
}

.portfolio-item {
  margin-bottom: 25px;
}

.img-portfolio {
  max-width: 320px;
  max-height: 240px;
  margin: 0 auto;
  width: 32vw;
  height: 24vh;
  overflow: hidden;
}

/* Call to Action */

.call-to-action {
  background: #585752;
  color: #d5d0ca;
  padding: 2.5% 0;
}

.call-to-action .btn {
  margin: 10px;
}

/* Footer */

footer {
  padding: 100px 0; 
}

.footer-colors {
  background: d5d0ca;
  color: #585752;
}

/* Responsive */

@media (max-width: 768px) {
    
  body {
      max-width: 100%;
  }
    
  .btn-primary {
    color: #fff;
    background: none; 
    border-color: none;
  }
    
  .icon-menu {
    max-width: 30px;
    height: auto;
  }
	
  .header {
	background: url(/img/bg/header-bg-mobile.jpg) no-repeat center bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 100%;
  }
    
  .vert-text h1 {
    font-size: 3em;
    font-weight: 700;
  }

  .vert-text h3 {
    font-size: 1.5em;
  }
    
  .icon-social {
    max-width: 33px;
    height: auto;
  }
    
  .services {
    background: #585752;/*#2a2f2f;/*#334455;*/
    padding: 20px 0;
    color: #d5d0ca;
  }

  .service-item {
    margin-bottom: 10px;
  }
    
  .service-item h4 {
      font-size: 1.2em;
  }

  .service-icon {
    font-size: 24px;
    width: 80px;
    height: 80px;
    line-height: 76px;
  }
    
  .portfolio {
    padding: 20px 0; 
  }

  .portfolio-item {
    margin-bottom: 10px;
  }

  .img-portfolio {
    width: 120px;
    height: 90px;
    
  }

  .callout {
	background: url(/img/bg/quote-bg-mobile.jpg) no-repeat center bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .callout > .vert-text h1 {
    font-size: 1.5em;
    font-weight: 700;
  }

}
