 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <p>Responsive web applications designed with HTML5, CSS3, JavaScript/ES6. I've also used a variety of CSS frameworks such as Bootstrap, Semantic UI, and Ant Design.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>I use React/Redux for the front end, and Express/Node.js (JavaScript) or Flask (Python) for the back end.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-linux-plain colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <p>Git, VSCode/Vim, command line, and a plethora of debugging and developer tools are in my arsenal. I also have experience with databases (MySQL, MongoDB).</p>
    </div>
</div>
