 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Data Science</h2>
      <i class="devicon-python-plain-wordmark"></i>
      <img src="../assets/img/pytorch.png" width="72px" height="72px"></img>
      <img src="../assets/img/tensorflow.png" width="72px" height="72px"></img>
      <p>Data analysis and construction of predictive models using various machine learning and deep learning techniques.</p>
    </div>
    <div class="tech">
      <h2>Web Apps</h2>
      <i class="devicon-mysql-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Expertise with JavaScript/ES6 and React/Redux, Node.js, MySQL, as well as HTML5, CSS3 and a variety of other frameworks.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-linux-plain colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <p>I am proficient with Git and the command line, and use VSCode/Atom/Vim and a plethora of debugging and developer tools. I am also experienced with Linux.</p>
    </div>
</div>
