<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="my blog" src="{{ "/assets/img/blog.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> How I Code Stuff Blog</h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Web design, web development, content writing, problem solving and passion to learn. This is my own blog.</p>
    <a class="project-link" href="https://howicodestuff.github.io">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="schedule maker" src="{{ "/assets/img/schedule-maker.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Schedule Maker </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>React/Redux, semantic UI and a lot of problem solving since this was built from the ground up.</p>
    <a class="project-link" href="https://github.com/czonios/schedule-maker-app">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="pomodoro timer" src="{{ "/assets/img/pomodoro.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Pomodoro Timer </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Responsiveness, clean design, work with all shapes and sizes, this is something I've always wanted to make and I went through with it.</p>
    <a class="project-link" href="https://czonios.github.io/pomodoro">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="ieee uoi sb website" src="{{ "/assets/img/wordpress.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> IEEE UoI Student Branch Website </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Wordpress, content writing, design, renovating an old unresponsive website.</p>
    <a class="project-link" href="http://ieeesb.uoi.gr">Check it out</a>
  </div>
</div>