<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="my blog" src="{{ "/assets/img/blog.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> How I Code Stuff Blog</h3>
    <ul>
      <li> Web design, web development, content writing, problem solving</li>
    </ul>
    <p>This is my own blog, where I showcase my projects, post tutorials or document my learning.</p>
    <a class="project-link" href="https://howicodestuff.github.io">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="schedule maker" src="{{ "/assets/img/schedule-maker.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Schedule Maker </h3>
    <ul>
      <li> React/Redux, Semantic UI, Software Engineering</li>
    </ul>
    <p>This project was built from the ground up, and features clean architecture, testing, and good documentation.</p>
    <a class="project-link" href="https://github.com/czonios/schedule-maker-app">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="pomodoro timer" src="{{ "/assets/img/pomodoro.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Pomodoro Timer </h3>
    <ul>
      <li> Responsiveness, Wed Design, jQuery</li>
    </ul>
    <p>A minimalistic timer that works for screens of all shapes and sizes, this is something I've always wanted to make.</p>
    <a class="project-link" href="https://czonios.github.io/pomodoro">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="hotel anavasi website" src="{{ "/assets/img/anavasi.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Anavasi Mountain Resort website</h3>
    <ul>
      <li> CMS, Wordpress, Content Writing, Web Design</li>
    </ul>
    <p>This is a website for Anavasi Mountain Resort, a hotel in the Tzoumerka mountains, Greece.</p>
    <a class="project-link" href="https://anavasihotel.gr">Check it out</a>
  </div>
</div>